<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="author" content="{% block meta_author %}{% endblock %}">

        {% block stylesheets %}
            <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
            <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
            <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" rel="stylesheet" type="text/css" />
            <style>
                .form-group:before,
                .form-group:after {
                    content: " ";
                    display: table;
                }
                .form-group:after {
                    clear: both;
                }
            </style>
        {% endblock %}

        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    </head>

    <body>
        <!--[if lt IE 7]>
            <div class="alert alert-warning">
                <strong>Oops!</strong>
                You are using an outdated browser.
                <a href="http://browsehappy.com/">Upgrade your browser today</a> or
                <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>
                to better experience this site.
            </div>
        <![endif]-->

        {% block body %}
            {% block header %}
                <header style="margin-bottom:12px;">
                    <div class="container">
                        {% block header_content %}
                            <a href="{{ path('ObCmsBundle_module_dashboard') }}">
                                <img src="{{ asset(logo) }}" alt="" style="margin-top: 25px;max-width: 100%;height: auto;"/>
                            </a>
                        {% endblock %}
                    </div>
                </header>
            {% endblock %}


            {{ render(controller("ob_cms.controller:menuAction", {'request': app.request})) }}

            <div class="container">
                {% include "ObCmsBundle:Admin:impersonator.html.twig" %}
                {% include "ObCmsBundle:Admin:flashes.html.twig" %}

                {% block content %}{% endblock %}
            </div>
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>
            <script>
                $(function() {
                    setTimeout(function(){
                        $('.alert.fade').alert('close');
                    }, 5000);
                });
            </script>
        {% endblock %}
    </body>
</html>
