<form class="form-search" method="GET">
    <div class="input-group col-sm-3 col-xs-12 pull-right">
        <input type="search" name="search" class="form-control input-sm" value="{{ search }}">
        <span class="input-group-btn">
            <button class="btn btn-default btn-sm" type="submit">
                <i class="glyphicon glyphicon-search"></i>
            </button>
            {% if search|length > 0 %}
                <a href="{{ path('ObCmsBundle_module_list', { 'name': module }) }}" class="btn btn-link btn-sm">
                    reset
                </a>
            {% endif %}
        </span>
    </div>
</form>
