<form class="form-search" method="GET">
    <div class="input-group col-lg-3 pull-right">
        <input type="search" name="search" class="form-control input-sm" value="{{ search }}">
        <span class="input-group-btn">
            <button class="btn btn-default btn-sm" type="submit">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </span>
    </div>
</form>
