<form class="form-search pull-right" method="GET">
    <div class="input-append">
        <input type="text" name="search" class="span2 search-query" value="{{ search }}">
        <button type="submit" class="btn">
            <i class="icon icon-search"></i>
        </button>
    </div>
</form>