<div class="form-actions">
    <ul class="unstyled pull-right">
        <li>
            <a href="{{ path('ObCmsBundle_module_new', { 'name': module }) }}" class="btn btn-default">
                {% trans %}obcms.list.new{% endtrans %}
            </a>
        </li>
    </ul>
</div>
