<form action="" id="row-actions" class="form-inline col-sm-9 col-xs-12" method="POST">
    <label class="control-label text-muted" for="actions">{% trans %}obcms.list.action_title{% endtrans %} :&nbsp;</label>

    <select name="action" id="actions" class="form-control input-sm" style="display: inline;max-width: 175px;">
        <option value=""></option>
        {% if adminClass.listActions|length > 0 %}
            {%  for action in adminClass.listActions %}
                <option value="{{ action }}">{{ ( module ~ '.action_' ~ action)|trans }}</option>
            {% endfor %}
            <option disabled="disabled">----</option>
        {% endif %}
        <option value="delete-action">{% trans %}obcms.list.action_delete{% endtrans %}</option>
    </select>

    <input type="submit" class="btn btn-default btn-sm" value="{% trans %}obcms.list.action_execute{% endtrans %}">

    <span class="help-inline hidden-xs">
        <span id="check-count" class="text-muted"></span>
    </span>
</form>

{% if adminClass.listSearch %}
    {% include "ObCmsBundle:List:form_search.html.twig" %}
{% endif %}