{% for key, message in app.session.getFlashes() %}
    <div class="alert alert-block alert-{{ key }} fade in">
        <a class="close" data-dismiss="alert">×</a>
        <h4 class="alert-heading">{{ key|capitalize|trans }}</h4>
        {{ message|trans }}
    </div>
{% endfor %}