{% for key, message in app.session.getFlashBag().all() %}
    <div class="alert alert-block alert-{{ key }} fade in">
        <a class="close" data-dismiss="alert">×</a>
        {{ message[0]|trans }}
    </div>
{% endfor %}
