{% for key, message in app.session.getFlashBag().get('success') %}
    <div class="alert alert-block alert-{{ key }} fade in">
        <a class="close" data-dismiss="alert">×</a>
        {{ message|trans }}
    </div>
{% endfor %}
