{% if app.user %}
    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        <div class="alert alert-info">
            {% trans %}obcms.connected_as{% endtrans %}
            <a href="{{ path('ObCmsBundle_module_edit', { 'name': 'users', 'id': app.user.id }) }}">
                {{- app.user.username|capitalize -}}
            </a>.
            <a href="?_imp=_exit">{% trans %}obcms.connected_back{% endtrans %} <i class="icon icon-signout"></i></a>
        </div>
    {% endif %}
{% endif %}