body {
  padding: 60px 0 40px;
  background: #f1f1f1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
  max-width: 960px;
}
.oh,
.ot,
.tt {
  float: left;
  padding: 0 2% 2% 0;
  width: 48%;
}
.ot {
  width: 31.9999999999%;
}
.tt {
  width: 63.9999999999%;
}
.cl {
  clear: both;
}
.cms-wrapper {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
}
.space,
.cms-container {
  padding: 5px 30px;
}
.pagination {
  margin: 0;
}
.with-filters {
  width: 80%;
}
.filters {
  width: 15%;
}
.page-header {
  padding: 0;
}
.page-header h1 {
  color: #747474;
  font-weight: normal;
}
table thead th {
  color: #747474;
}
table thead tr a.asc,
table thead tr a.desc,
table thead tr a.sortable {
  color: #747474;
  display: table;
  width: 100%;
  padding-right: 5px;
  margin-right: 20px;
  background-image: url('../img/bg.gif');
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table thead tr a.asc:hover,
table thead tr a.desc:hover,
table thead tr a.sortable:hover {
  text-decoration: none;
}
table thead tr a.asc {
  background-image: url('../img/asc.gif');
}
table thead tr a.desc {
  background-image: url('../img/desc.gif');
}
.form-actions {
  padding: 19px 30px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}
.form-actions:before,
.form-actions:after {
  content: " ";
  display: table;
}
.form-actions:after {
  clear: both;
}
ul.unstyled,
ol.unstyled {
  margin: 0;
  list-style: none;
}
.form-actions ul.unstyled li,
.form-actions ol.unstyled li {
  float: left;
  margin-left: 5px;
}
ul.unstyled form,
ol.unstyled form {
  margin: 0;
}
.drop-shadow {
  position: relative;
}
.drop-shadow:before,
.drop-shadow:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.35);
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.drop-shadow:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
.lifted:before,
.lifted:after {
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  max-height: 100px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.35);
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.lifted:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
