<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="{{ path('ObCmsBundle_module_dashboard') }}">ObCMS</a>

            <p class="navbar-text pull-left">
                <span class="label label-info">0.3</span>
            </p>

            <ul class="nav pull-right">
                {% include "ObCmsBundle:Menu:items.html.twig" %}
            </ul>

            {% render controller("ObCmsBundle:Admin:locales", {'request': request}) %}
        </div>
    </div>
</div>