{% extends templates['layout'] %}

{% form_theme form templates['fields'] %}

{% block content %}
    <div class="text-right">
        <a href="{{ path('ObCmsBundle_module_list', { 'name': module }) }}" class="btn btn-link" role="button">
            <span class="glyphicon glyphicon-arrow-left"></span>
            {% trans %}obcms.form.back_to_list{% endtrans %}
        </a>
    </div>

    <h1 class="h3 page-header">{% block page_header %}{% endblock %}</h1>

    <form method="post" {{ form_enctype(form) }} id="ob_cms-form" class="form">
        <fieldset>
            {{ form_rest(form) }}

            <div class="form-group text-right">
                <a href="{{ path('ObCmsBundle_module_list', { 'name': module }) }}" class="btn btn-default" role="button">
                    {% trans %}obcms.form.cancel{% endtrans %}
                </a>
                <button type="submit" class="btn btn-primary" form="ob_cms-form">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    {% trans %}obcms.form.edit{% endtrans %}
                </button>
            </div>
        </fieldset>
    </form>
{% endblock %}