{% extends '@ObCms/Table/Cell/default.html.twig' %}

{% block cell_content %}

    {% if field in adminClass.listLinks or k == 0 %}
        <a href="{{ path('ObCmsBundle_module_edit', { 'id': entity.id, 'name': module }) }}">
    {% endif %}

    {%  if varClass(value) == "DateTime" %}
        {{ value|date('Y-m-d H:i:s') }}
    {% else %}
        {{ value }}
    {% endif %}

    {% if field in adminClass.listLinks or k == 0 %}
        </a>
    {% endif %}

{% endblock %}
